In [1]:
a=5

In [2]:
print(a)

5

In [3]:
print("Hello World!!")

Hello World!!

In [4]:
a=5

In [5]:
a

5

In [6]:
import numpy as np

In [7]:
data = {i : np.random.randn() for i in range(7)}

In [8]:
data

{0: -0.3651290094432618,
 1: 0.8609201332839903,
 2: -1.334693356047868,
 3: -2.208267126034394,
 4: -1.2360977105242839,
 5: 0.6187115184611788,
 6: -0.7252016745506752}

In [9]:
from numpy.random import randn

In [10]:
data = {i: randn() for i in range(7)}

In [11]:
print(data)

{0: -0.2799633616749985, 1: -0.9016492173284347, 2: -0.031629313187923384, 3: 0.1909383533094094, 4: 1.7149642185286667, 5: 0.7694969782396046, 6: -0.8701860433439057}

In [12]:
%run ipython_script_test.py

In [13]:
c

7.5

In [14]:
result

1.4666666666666666

In [15]:
a = [1,2,3]

In [16]:
b = a

In [17]:
a.append(4)

In [21]:
b

[1, 2, 3, 4]

In [22]:
a = 5

In [23]:
type(a)

int

In [24]:
a = 'foo'

In [25]:
type(a)

str

In [26]:
a = 4.5

In [27]:
b = 2

In [31]:
#string formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [32]:
a / b

2.25

In [33]:
a = 5

In [34]:
isinstance(a, int)

True

In [35]:
a = 5; b = 4.5

In [36]:
isinstance(a,(int,float))

True

In [37]:
isinstance(b,(int,float))

True

In [38]:
5 -7

-2

In [39]:
12 + 21.5

33.5

In [40]:
5 <= 2

False

In [41]:
a = [1, 2, 3]

In [42]:
b = a

In [43]:
c = list(a)

In [44]:
a is b

True

In [45]:
a is not c

True

In [46]:
a == c

True

In [47]:
a = None

In [48]:
a is None

True

In [49]:
a_list = ['foo', 2, [4, 5]]

In [50]:
a_list[2] = (3,4)

In [51]:
a_list

['foo', 2, (3, 4)]

In [52]:
a_tuple = (3,5,(4,5))

In [53]:
a_tuple[1]= 'four'

TypeError: 'tuple' object does not support item assignment

In [54]:
ival = 17239871

In [55]:
ival ** 6

26254519291092456596965462913230729701102721

In [56]:
fval = 7.243

In [57]:
fval2 = 6.78e-5

In [58]:
3 / 2

1.5

In [59]:
3 // 2

1

In [61]:
a = 'one way of writing a string'
b = "another way"
c = """This is a longer string that spans multiple lines"""

In [64]:
a.count('\n')

0

In [65]:
a = 'this is a string'

In [66]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [67]:
b = a.replace('string', 'longer string')

In [68]:
b

'this is a longer string'

In [69]:
a

'this is a string'

In [70]:
a=5.6

In [71]:
s = str(a)

In [72]:
print(s)

5.6

In [73]:
s = 'python'

In [74]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [75]:
s[:3]

'pyt'

In [76]:
s = '12\\34'

In [77]:
print(s)

12\34

In [78]:
s = r'this\has\no\special\characters'

In [79]:
s

'this\\has\\no\\special\\characters'

In [80]:
a = 'this is the first half'

In [81]:
b = 'and this is the second half'

In [82]:
a+b

'this is the first halfand this is the second half'

In [83]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [84]:
template.format(4.5560, 'Argentine pesos', 1)

'4.56 Argentine pesos are worth US$1'

In [85]:
val = "espanol"

In [86]:
val

'espanol'

In [87]:
val_utf8 = val.encode('utf-8')

In [88]:
val_utf8

b'espanol'

In [89]:
type(val_utf8)

bytes

In [90]:
val_utf8.decode('utf-8')

'espanol'

In [91]:
val.encode('latin1')

b'espanol'

In [92]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [93]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [95]:
bytes_val = b'this is bytes'

In [96]:
bytes_val

b'this is bytes'

In [97]:
decoded = bytes_val.decode('utf8')

In [98]:
decoded #this is str (unicode) now

'this is bytes'

In [100]:
True and True

True

In [101]:
False or True

True

In [102]:
s = '3.14159'

In [103]:
fval = float(s)

In [104]:
type(fval)

float

In [105]:
int(fval)

3

In [106]:
bool(fval)

True

In [107]:
bool(0)

False

In [108]:
a = None

In [109]:
a is None

True

In [110]:
b = 5

In [111]:
b is not None

True

In [112]:
type(None)

NoneType

In [113]:
from datetime import datetime, date, time

In [114]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [115]:
dt.day

29

In [116]:
dt.minute

30

In [117]:
dt.date()

datetime.date(2011, 10, 29)

In [118]:
dt.time()

datetime.time(20, 30, 21)

In [119]:
dt.strftime('%m/%d/%y %H:%M')

'10/29/11 20:30'

In [121]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [122]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [124]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [125]:
delta = dt2 - dt

In [126]:
delta

datetime.timedelta(days=17, seconds=7179)

In [127]:
type(delta)

datetime.timedelta

In [128]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [129]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [130]:
a=5; b=7

In [137]:
c=8; d=4

In [139]:
if a<b or c>d:
    ......:    print('made it')

made it

In [140]:
4 > 3 > 2 > 1

True

In [141]:
range(10)

range(0, 10)

In [142]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [144]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [145]:
x=5

In [146]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'